In [3]:
# Notes on initial databasing
# Tony Held tony.held@gmail.com
# Created 02/01/2021

In [79]:
from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity I can only get last_expr_or_assign to work
InteractiveShell.ast_node_interactivity = "last_expr_or_assign"

# Allows autocomplete to work properly
# https://stackoverflow.com/questions/40536560/ipython-and-jupyter-autocomplete-not-working
%config Completer.use_jedi = False

In [99]:
def values(var, exclude_starting_with="_"):
    """Show variable attributes and values for diagnostic debugging purposes.
    
    Set exclude_starting_with to '' if you wish to include all attributes."""
    
    print(f'Variable type: {type(var)}')
    
    if exclude_starting_with:
        attrs = [i for i in dir(var) if not i.startswith(exclude_starting_with)]
    else:
        attrs = [i for i in dir(var)]
            
    for i in attrs:
        print(f'\n{i}:\n{"-"*20}\n{getattr(var, i)}')

In [5]:
import dbm

In [6]:
file = dbm.open('movie', 'c')

In [7]:
file['Batman'] = 'Pow!'

In [8]:
file.keys()

[b'Batman']

In [9]:
file['Batman']

b'Pow!'

In [10]:
file['Batman'].decode()

'Pow!'

In [11]:
who = ['Robin', 'Cat-woman', 'Joker']
what = ['Bang', 'Splat', 'Wham']
for k, v in zip(who, what):
    file[k] = v

In [12]:
file

In [13]:
file.keys()

[b'Batman', b'Robin', b'Cat-woman', b'Joker']

In [17]:
for k,v in file.items():
    print(f'key: {k.decode()}, value: {v.decode()}')

key: Batman, value: Pow!
key: Robin, value: Bang
key: Cat-woman, value: Splat
key: Joker, value: Wham

In [18]:
file.close()

In [19]:
ls

 Volume in drive D is Docs
 Volume Serial Number is 9443-477E

 Directory of D:\Google Drive\My Documents\code\python\Pycharm Projects\Self Study\Programming Python

02/02/2021  07:40 AM    <DIR>          .
02/02/2021  07:40 AM    <DIR>          ..
02/02/2021  07:23 AM    <DIR>          .idea
02/01/2021  10:04 AM    <DIR>          .ipynb_checkpoints
01/28/2021  01:08 PM    <DIR>          __pycache__
01/28/2021  01:10 PM               271 attachgui.py
01/28/2021  12:05 PM                56 class-shelve.bak
01/28/2021  12:05 PM             1,130 class-shelve.dat
01/28/2021  12:05 PM                56 class-shelve.dir
01/28/2021  12:11 PM             1,447 console_shelf.py
01/28/2021  07:44 AM               544 main.py
02/02/2021  07:36 AM                81 movie.bak
02/02/2021  07:36 AM             1,540 movie.dat
02/02/2021  07:38 AM                81 movie.dir
02/02/2021  07:40 AM             4,402 scratch_1.ipynb
01/28/2021  12:43 PM               314 tkinter001.py
01/28/2021  01:00 PM               427 tkinter102.py
02/01/2021  04:36 PM    <DIR>          website_root
              12 File(s)         10,349 bytes
               6 Dir(s)  464,967,135,232 bytes free

In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('dbase1')

In [22]:
curs = conn.cursor()

In [23]:
tblcmd = 'create table people (name char(30), job char(10), pay int(4))'

'create table people (name char(30), job char(10), pay int(4))'

In [24]:
curs.execute(tblcmd)

In [28]:
curs.execute("insert into people values (?, ?, ?)", ('Bob', 'dev', 5000))

In [29]:
curs.rowcount

1

In [30]:
sqlite3.paramstyle

'qmark'

In [32]:
curs.executemany("insert into people values (?, ?, ?)", 
                 [('Sue', 'mus', 70000),
                  ('Ann', 'mus', 60000)])

In [33]:
curs.rowcount

2

In [34]:
data = [ ['Tom', 'mgr', 100000],
         ['Kim', 'adm', 30000],
         ['Pat', 'dev', 90000]]

[['Tom', 'mgr', 100000], ['Kim', 'adm', 30000], ['Pat', 'dev', 90000]]

In [35]:
curs.executemany("insert into people values (?, ?, ?)", data)

In [36]:
curs.rowcount

3

In [37]:
curs.execute('select * from people')

In [38]:
curs.fetchall()

[('Bob', 'dev', 5000),
 ('Sue', 'mus', 70000),
 ('Ann', 'mus', 60000),
 ('Tom', 'mgr', 100000),
 ('Kim', 'adm', 30000),
 ('Pat', 'dev', 90000)]

In [39]:
curs.execute('select * from people')

In [40]:
curs.description

(('name', None, None, None, None, None, None),
 ('job', None, None, None, None, None, None),
 ('pay', None, None, None, None, None, None))

In [41]:
curs.fetchall()

[('Bob', 'dev', 5000),
 ('Sue', 'mus', 70000),
 ('Ann', 'mus', 60000),
 ('Tom', 'mgr', 100000),
 ('Kim', 'adm', 30000),
 ('Pat', 'dev', 90000)]

In [1]:
pwd

'D:\\Google Drive\\My Documents\\code\\python\\Pycharm Projects\\Self Study\\Programming Python'

In [2]:
ls

 Volume in drive D is Docs
 Volume Serial Number is 9443-477E

 Directory of D:\Google Drive\My Documents\code\python\Pycharm Projects\Self Study\Programming Python

02/04/2021  06:42 PM    <DIR>          .
02/04/2021  06:42 PM    <DIR>          ..
02/05/2021  07:35 AM    <DIR>          .idea
02/01/2021  10:04 AM    <DIR>          .ipynb_checkpoints
01/28/2021  01:08 PM    <DIR>          __pycache__
01/28/2021  01:10 PM               271 attachgui.py
01/28/2021  12:05 PM                56 class-shelve.bak
01/28/2021  12:05 PM             1,130 class-shelve.dat
01/28/2021  12:05 PM                56 class-shelve.dir
01/28/2021  12:11 PM             1,447 console_shelf.py
02/02/2021  11:19 AM             8,192 dbase1
02/03/2021  03:40 PM    <DIR>          flask_intro
02/03/2021  09:28 AM    <DIR>          flask_todo
02/03/2021  07:44 AM                 0 identifier.sqlite
01/28/2021  07:44 AM               544 main.py
02/02/2021  07:36 AM                81 movie.bak
02/02/2021  07:36 AM             1,540 movie.dat
02/02/2021  07:38 AM                81 movie.dir
02/02/2021  11:54 AM            12,825 scratch_1.ipynb
01/28/2021  12:43 PM               314 tkinter001.py
01/28/2021  01:00 PM               427 tkinter102.py
02/04/2021  08:59 PM    <DIR>          webforms
02/01/2021  04:36 PM    <DIR>          website_root
              14 File(s)         26,964 bytes
               9 Dir(s)  464,961,175,552 bytes free